* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', sans-serif;
}

/* headsection */
.headsection {
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 2px black;
    margin: 20px 100px;
    padding: 10px;
    border-radius: 20px;
}

.headsection img {
    width: 60px;
    margin-left: 30px;
}

/* MENU */
.menu {
    margin-left: 400px;
    display: flex;
    gap: 40px;
}

.menu a {
    text-decoration: none;
    color: #5f6368;
    font-size: 15px;
    font-weight: 500;
}

.arrow {
    font-size: 12px;
    margin-left: 4px;
}

/* BUTTONS */
.actions {
    display: flex;
    margin-left: 100px;
    align-items: center;
    gap: 12px;
}

.btn {
    padding: 10px 20px;
    border-radius: 999px;
    font-size: 14px;
    cursor: pointer;
}

/* BLUE BUTTON */
.primary {
    background: linear-gradient(90deg, #3aa0ff, #2f80ed);
    color: white;
    border: none;
    box-shadow: 0 4px 10px rgba(47, 128, 237, 0.3);
}

/* OUTLINE BUTTON */
.outline {
    background: white;
    border: 1px solid #dcdcdc;
    color: #333;
}

/* animation */
.imagesection {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 50px 100px;
    animation: slidedown 2s;
}

.imagesection img {
    height: 180px;
    border-radius: 20px;
    animation: slightRotate 4s ease-in-out infinite;
}

@keyframes slightRotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(3deg);
        /* small tilt */
    }

    100% {
        transform: rotate(0deg);
    }
}

.card1 {
    margin-top: 200px;
    animation-delay: 0s;
}

.card2 {
    margin-top: 60px;
    animation-delay: 1s;
}

.card3 {
    animation-delay: 2s;
}

.card4 {
    margin-top: 120px;
    animation-delay: 1.5s;
}

.learnsection {
    text-align: center;
    padding: 100px 20px;
}

.learnsection h1 {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #2c2c2c;
    line-height: 1.2;
    margin-top: -200px;
}

.learnsection span {
    color: #0a0d07;
    font-weight: 600;
}

.learnbtn {
    margin-top: 30px;
    padding: 25px 70px;
    border-radius: 35px;
    border: none;
    background: #0043ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.learnbtn:hover {
    opacity: 0.4;
    cursor: pointer;
}

.sectionimage {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    animation: slightRotate 4s ease-in-out infinite;
}

@keyframes slightRotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(1deg);
    }
}

.card5 {
    height: 200px;
    animation-delay: 0s;
}

.card6 {
    height: 200px;
    border-radius: 20px;
    animation-delay: 1s;
}

.card7 {
    height: 200px;
    margin-left: 20px;
    animation-delay: 2s;
}

/* section 3 */
.AIhead {
    color: #0a0d07;
    font-size: 26px;
    font-family: 'Geist', sans-serif;
    width: 60%;
    margin-left: 50px;
    padding-top: 100px;
}

.views {
    display: flex;
    gap: 10px;
    margin-left: 50px;
    padding-top: 50px;
    color: #0a0d07;
    font-size: 56px;
    font-family: 'Geist', sans-serif;
    gap: 800px
}

.viewers {
    display: flex;
    gap: 800px;
    margin-top: 10px;
}

.section3 {
    background: #f9f9fb;
}

.freebtn {
    margin: 50px auto;
    margin-left: 720px;
    border-radius: 40px;
    padding: 15px 50px;
    background: blue;
    color: white;
}

.freebtn:hover {
    opacity: 0.4;
    cursor: pointer;
}

/* section 4 */
.section4 p {
    color: #0a0d07;
    font-size: 16px;
    font-family: 'Geist', sans-serif;
    text-align: center;
    margin-top: 100px;
}

.section4 h1 {
    color: #0a0d07;
    letter-spacing: 1.44px;
    font-size: 45px;
    font-family: 'Geist', sans-serif;
    text-align: center;
}

/* VIDEO */
.video {
    text-align: center;
    padding: 50px;
    width: 100%;
    margin-top: 50px;
}

/* section 5 */
.section5 p {
    color: #0a0d07;
    font-size: 16px;
    font-family: 'Geist', sans-serif;
    text-align: center;
}

.section5 h1 {
    color: #0a0d07;
    letter-spacing: 1.44px;
    font-size: 45px;
    font-family: 'Geist', sans-serif;
    text-align: center;
}

/* Tabs */
table.tabs {
    width: 100%;
    align-items: center;

    border-radius: 1px;
    border: 1px solid black;
    margin-top: 10px;

}

.tabs td {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    background: #fafafa;
    cursor: pointer;
}

.tabs .active {
    background: #fff;
    font-weight: bold;
}

/* Content Table */
.content-table {
    width: 100%;
    margin-top: 20px;
}

.left {
    width: 50%;
    text-align: center;
    vertical-align: middle;
}

.right {
    width: 50%;
    vertical-align: middle;
    padding: 20px;
}

/* Card */
.card {
    background: #d8b4e2;
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
}

.card img {
    width: 280px;
    border-radius: 10px;
}

/* Text */
.right small {
    color: #555;
}

.right h2 {
    font-size: 30px;
    margin: 10px 0;
}

.right p {
    color: #555;
    line-height: 1.6;
}

/* Buttons */
.btn {
    margin-top: 15px;
}

.primary {
    background: #1d4ed8;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    cursor: pointer;
}

.link {
    margin-left: 15px;
    text-decoration: none;
    color: #000;
}

/* section 6 */
.research {
    background: #c5f1ec;
    padding: 80px 100px;
    font-family: Arial, sans-serif;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.tag {
    font-size: 14px;
    margin-bottom: 20px;
}

.top h1 {
    font-size: 60px;
    font-weight: 500;
    line-height: 1.2;
}

.right {
    max-width: 350px;
    font-size: 16px;
}

.right a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: black;
}

.stats {
    display: flex;
    justify-content: space-between;
}

.stat {
    flex: 1;
    padding: 0 40px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.stat:first-child {
    border-left: none;
    padding-left: 0;
}

.stat h2 {
    font-size: 80px;
    margin-bottom: 20px;
}

.stat p {
    font-size: 18px;
    max-width: 300px;
}