* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #02010d;
    overflow: hidden;
    position: relative;
}

.bg-animation {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border-top: 3px solid #7b2cff;
    border-right: 3px solid #00d9ff;
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
    top: -200px;
    right: -200px;
    filter:
        drop-shadow(0 0 15px #00d9ff);
    animation:
        movePath 8s linear infinite,
        rotateCircle 4s linear infinite;
}

.bg-animation::before {
    content: "";
    position: absolute;
    inset: 50px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

@keyframes movePath {
    0% {
        top: -250px;
        right: -250px;
        transform:
            scale(0.3);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    50% {
        top: 50%;
        right: 50%;
        transform:
            translate(50%, -50%) scale(1);
    }

    100% {
        top: 100%;
        right: 100%;
        transform:
            translate(-200px, 200px) scale(.4);
        opacity: 0;
    }
}

@keyframes rotateCircle {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

.ai-section {
    width: 100%;
    min-height: 100vh;
    padding: 80px 6%;
}

.ai-section h1 {
    text-align: center;
    color: white;
    font-size: 65px;
    font-weight: 300;
    margin-bottom: 80px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.card {
    width: 251px;
    position: relative;
    border-radius: 12px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.08);
    animation: fadeUp 1s ease;
}
 @keyframes fadeUp {
     from {
         opacity: 0;
         transform: translateY(40px);
     }

     to {
         opacity: 1;
         transform: translateY(0);
     }
 }
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.95),
            rgba(0, 0, 0, 0.1));
}

.content {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    z-index: 2;
}

.content h2 {
    color: white;
    font-size: 17px;
    line-height: 1.5;
    font-weight: 600;
    transition: 0.4s;
}

.content button {
    margin-top: 15px;
    background: none;
    border: none;
    color: #ff9d5c;
    font-size: 18px;
    cursor: pointer;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s;
}

.card:hover button {
    opacity: 1;
    transform: translateY(0);
}

.card:hover h2 {
    transform: translateY(-8px);
}

.content button i {
    margin-left: 8px;
}

.view-btn {
    display: block;
    margin: 70px auto 0;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
}

.view-btn i {
    color: #ff7b32;
    font-size: 25px;
}

.view-btn:hover {
    transform: translateY(-5px);
    color: #ff7b32;
}